<!DOCTYPE html>
<style type="text/css">
	body {
        padding: 0 10em;
        margin: 10;
        font: 15px/25px "HelveticaNeue";
    }

    #encabezado {
        padding: 3em 2em 3em;
        background: #222 repeat center 0px;
    }

    #encabezado .logo {
        float: right;
    }

	h1 {
        color: #efd;
    }

	h2 {
        color: #535f73;
        margin: 1em 2em 1em 1em;
    }
	p	{ margin: 1em 1em; }

    .opciones {
        padding: 0.2px;
        -webkit-box-shadow: 0 0 5px #b19;
        -moz-box-shadow: 0 0 3px #b47;
        box-shadow: 0 0 3px #192;
    }
    .content {
        -webkit-box-shadow: 0 0 3px #bbb;
        -moz-box-shadow: 0 0 3px #bbb;
        box-shadow: 0 0 3px #bbb;
    }
    ul.nav {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
    }
    ul.nav li {
        display: inline;
    }
    ul.nav a:hover {
        background-color: lightgray;
    }
    ul.nav a {
        border-bottom: none;
        padding: 5px 10px 5px 10px;
        margin-right: 0.2px;
        color: #198efa;
        text-decoration: none;
    }
    #wrapper{
        margin: 0 auto;
        max-width: 1320px;
        -webkit-box-shadow: 0 0 3px #bbb;
        -moz-box-shadow: 0 0 3px #bbb;
        box-shadow: 0 0 3px #bbb;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -250px; 
        background: #fffeff;
    }
    #container{
        z-index: 0;
        background: repeat-y center;
        overflow: auto;
    }
    #page-footer {
        height: 170px;
        margin: 0 auto;
        max-width: 1340px;
        background: #222 repeat center 0px;
        position: relative;
        border-top: 1px solid #222;
        -moz-box-shadow: inset 0 1px 0 #555;
        -webkit-box-shadow: inset 0 1px 0 #555;
        box-shadow: inset 0 1px 0 #555;
    }
  </style>

  <head><title>DFSEP Guerrero -- Sistema Contable</title></head>
  <body>

    {% block content %}

    {% endblock %}
  </body>
</html>

