{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="wrapper">
	<div id="container">
        <div id="encabezado">
            <div class="logo">
                <img src="{% static "base/logo.png" %}" height="100" />
            </div>
            <h1>DFSEP Guerrero - Sistema Contable</h1>
        </div>
        <div class="opciones">
            <ul class="nav">
                <li><a href={{ admin_uri }}>Iniciar sesión</a></li>
                <li><a href={{ base_uri }}>Página inicial</a></li>
            </ul>
        </div>
        <h2>{{ titulo }}</h2>

    <div class="content">
        <p>{{ contenido }}
    </div>
    <div class="user-feedback level-general">
            <p role="alert">Content</p>
        </div>
    <div id="page-footer">
         <div class="logo" style="padding: 30px;">
                <img src="{% static "base/logo.png" %}" height="50" />
            </div>

    </div>
	</div>
</div>
{% endblock %}

