<!DOCTYPE html lang="{{ LANGUAGE_CODE }}">
{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"></link>
  <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}"></link>

  <link rel="stylesheet" type="text/css" href="{% static "css/widgets.css" %}" />

  <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
  <head>
  	<title>DFSEP Guerrero -- Sistema Contable</title>
	{% block external %}{% endblock %}
  </head>

  <body class='dashboard'>
    <div id="container">
	<div id="header">
		<div id="branding">
			<h1 id="site-name">DFSEP Guerrero -- Sistema Contable</h1>
			<div style="float: right; padding-right: 10px;">
				<img src="{% static "images/logo.png" %}" height="100" />
			</div>
			<div id="user-tools">
				{% if user.username %}
				<p>Bienvenido {{ user.username }}.
				<a href="/admin/password_change/">Cambiar contraseña</a> / 
				<a href="/admin/logout/">Cerrar sesión</a></p>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="opciones">
		<ul class="nav">
			{% if not user.username %}
			<li><a href='/login/'>Iniciar sesión</a></li>
            {% else %}
            <li><a href='/admin/'>Administrar sitio</a></li>
			<li><a href='/reporte-cuentas-contables/'>Cuentas Contables</a></li>
			<li><a href='/reporte-clasificador-objeto-gasto/'>Clasificador Objeto Gasto</a></li>
			{% endif %}
		</ul>
	</div>

        {% block content %}

        {% endblock %}
    </div>
  </body>
</html>

