{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% block content %}
<h3>{{ titulo }}</h3>
<div id="content" class="{% block coltype %}colM{% endblock %}">

    <form id="search-form" method="get" action=".">
        <div>
            <fieldset class="module aligned"  style="padding: 10px;">
                {% for field in form %}
                <div class="form-row field-{{ field.label }}">
                    <div>
                        <label>{{ field.label }}</label>
                    </div>
                    {{ field }}
                </div>
                {% endfor %}
            </div>
        </fieldset>
        <div class="submit-row">
            <input type="submit" value={% trans 'Search' %} class="default"/>
        </div>
    </form>
    <div id="search-results">
        {% if mostrar_results %} {% include 'entidades_list.html' %} {% endif %}
    </div>
</div>
</div>
{% endblock %}
