{% if entidades %}
    <table width=100%>
        <tr>
            <th width=30%>Fecha</th>
            <th width=15%>No. Poliza</th><th width=13%>Clave</th></th><th width=37%>Beneficiario</th>
            <th width=20%>Cargo</th><th width=20%>Credito</th>
        </tr>
    {% for fecha, no_poliza, clave, nombre, debe, haber in entidades %}
        <tr><td>{{ fecha }}</td><td>{{ no_poliza }}</td><td>{{ clave }}</td>
    <td>{{ nombre }}</td><td>{{ debe }}</td>
    <td>{{ haber }}</td></tr>
    {% endfor %}
</table>
{% else %}
	<p>Hi world!</p>
{% endif %}
