{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<h3>{{ titulo }}</h3>

	<div id="content" class="colMS">
		<div id="content-main">
			<p>{{ contenido }}
		</div>
	</div>

{% endblock %}

