{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Sistema Contable' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'DFSEP Guerrero - Sistema Contable' %}</h1>
<a href='/' style="padding: 13px;">Regresar</a>
{% endblock %}

{% block nav-global %}{% endblock %}
