/* @override 
	http://127.0.0.1:8000/static/css/blue-steel.css
	http://localhost:8000/static/css/blue-steel-original.css */

/*================================================================================================




"I'm pretty sure there's a lot more to life than being really, really, ridiculously good looking."

- Derek Zoolander




================================================================================================*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
a:focus,a:active{outline:none}
header,section,footer,aside,nav,article,figure{display:block}
git 
/*	MAIN ELEMENTS
========================================*/

html,body{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	-webkit-font-smoothing:antialiased;
	-webkit-backface-visibility:hidden;
	background: #eee;
	height: 100%;
}

#wrapper{
 	margin: 0 auto;
	max-width: 1340px;
	-webkit-box-shadow: 0 0 3px #bbb;
	-moz-box-shadow: 0 0 3px #bbb;
	box-shadow: 0 0 3px #bbb;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -250px; 
	background: url(../img/bg.png) #fffeff;
}

#container{
	z-index: 0;
	background: url(../img/cold.png) repeat-y center;
	overflow: auto;
}

nav.row{padding-top: 3%;}

header{
	margin: 3% 0;
	position: relative;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	overflow: hidden;
	background-color: #ffffff;
}

.push{height: 300px;}

footer{
	height: 250px;
	margin: 0 auto;
	max-width: 1340px;
	background: #222 url(../img/bg-dark.png) repeat center 0px;
	position: relative;
	border-top: 1px solid #222;
	-moz-box-shadow: inset 0 1px 0 #555;
	-webkit-box-shadow: inset 0 1px 0 #555;
	box-shadow: inset 0 1px 0 #555;
}


/*	ROWS & COLS
========================================*/

.row{
	width:auto;
	clear:both;
	max-width:1100px;
	padding: 0 2%;
	margin: 0 auto;
	list-style:none; 
	overflow:hidden; 
}

.row [class^="col-"]{margin: 2.083%;}
[class^="col-"]{float:left;margin:0 2.083% 0 0;}

.col-1{ width:4.167% }
.col-2{ width:12.5% }
.col-3{ width:20.833% }
.col-4{ width:29.167% }
.col-5{ width:37.5% }
.col-6{ width:45.833% }
.col-7{ width:54.167% }
.col-8{ width:62.5% }
.col-9{ width:70.833% }
.col-10{ width:79.167% }
.col-11{ width:87.5% }
.col-12{ width:95.833%; margin:0;}


/*	TYPE
========================================*/

h1, h2, h3, h4, h5{
	font-family: 'Droid Serif', serif;
	font-weight: normal;
	margin-bottom: .4em;
	color: #111;
	line-height: 1.45em;
}

h1{font-size: 4.8em;letter-spacing: -5px;}
h2{font-size: 1.6em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}
h5{font-size: 1.2em;}

p, address{
	font-size: .95em;
	line-height: 1.5em;
	color: #555;
	margin-bottom: 1em;
	font-weight: normal;
	font-style: normal;
}

article p{
	font-size:	1em;
	line-height:	1.7em;
}

p:last-child{margin-bottom: 0;}
strong, b {font-weight: bold;}
em, i {font-style: italic;}
.small{font-size: .75em;}
.light{color: #888;}

p.end{
	margin: 1.2em 0 1em;
	text-align: center;
	font: normal normal 3em 'Droid Serif', serif;
	color: #ccc;
}

img{
	display: block;
	max-width: 100%;
	display: block;
	z-index: 1;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 0 0 1px #ddd;
	-webkit-box-shadow: 0 0 0 1px #ddd;
	box-shadow: 0 0 0 1px #ddd;
	margin: 0 0 .9em;
}

a{
	color: #111;
	text-decoration: none;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.07s, 0.1s;
	-webkit-transition-timing-function: linear, ease-in;
}
a:hover{color: #b51309;border-bottom-color: #b51309;}
p a{color: #b51309;border-bottom: 1px solid #e2e1e1;}


a.button{
	font-size:	.7em;
	letter-spacing: 1px;
	color:	#333333;
	border: 1px solid #ccc;
	display: inline-block;	
	padding: .9em 1.2em .9em 1.2em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-weight:	bold;
	background: #dfdfdf; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfcfc 0%, #dfdfdf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfcfc 0%,#dfdfdf 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fcfcfc 0%,#dfdfdf 100%); /* IE10+ */
	background: linear-gradient(top, #fcfcfc 0%,#dfdfdf 100%); /* W3C */
	-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
	position: relative;
	text-shadow: 0 1px 0 #ffffff;
}

a.button:hover{
	background: #dfdfdf; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f5f5 0%, #dadada 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f5f5 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f5f5 0%,#dadada 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f5f5f5 0%,#dadada 100%); /* IE10+ */
	background: linear-gradient(top, #f5f5f5 0%,#dadada 100%); /* W3C */
	border:	1px	solid	#bbbbbb;
}

a.button:active{
	background: #d9d9d9; /* Old browsers */
	background: -moz-linear-gradient(top, #e3e3e3 0%, #d9d9d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e3e3e3 0%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e3e3e3 0%,#d9d9d9 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e3e3e3 0%,#d9d9d9 100%); /* IE10+ */
	background: linear-gradient(top, #e3e3e3 0%,#d9d9d9 100%); /* W3C */
	border:	1px	solid	#bbbbbb;
	-moz-box-shadow: inset 0 1px 0 #ddd;
	-webkit-box-shadow: inset 0 1px 0 #ddd;
	box-shadow: inset 0 1px 0 #ddd;
}




a.button.small{
	padding: .4em .8em .3em;
	font:	bold	11px/11px	"Helvetica",	Arial,	Helvetica,	Geneva,	sans-serif;
	color:	#333333;
	letter-spacing:	0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

color{
	color:	#dfdfdf;
}

a.button.iconized{
		padding-right:	3em;
}

a.button.iconized span{
	display: inline-block;
	position:	absolute;
	right:	7px;
	top:	7px;
	height:	16px;
	width:15px;
	padding:	0 0 0 1px;
	line-height:	14px;
	font-size:	12px;
	text-align:	center;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	border-radius: 33px;
	color:	#000;
	background:	url(../img/bg.png)	#ffffff; 
		-webkit-box-shadow: 0px 1px 0 #fafafa, inset 0px 1px 0 #ededed;
		-moz-box-shadow: 0px 1px 0 #fafafa, inset 0px 1px 0 #ededed;
		box-shadow: 0px 1px 0 #fafafa, inset 0px 1px 0 #ededed;
		border:	1px	solid	#ccc;
		text-shadow: 0 1px 0 #fff;
}

a.button.loadmore{
	display: block;
	text-align: center;
	padding: 1.5em;
}


hr{
	border: none;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #fff;
	clear: both;
	display: block;
	margin: 3% 0;
}


span.amp{font-family: 'Playfair Display', Times New Roman, Times, serif;}

.right{float: right;}
.left{float: left;}
.center{text-align: center;}

figure{
	background-color: #fff;
	margin: 0 0 1em;
	padding: 3px;
	display: inline-block;
	border: 1px solid #ddd;
}

figcaption{
	padding: 12px;
	color: #999;
	font-size: .9em;
}

pre, code{font: .9em Courier, mono;}

p code{
	font-size: .8em;
	background-color: #e3e3e3;
	display: inline-block;
	padding: 0 7px 0;
	color: #111;
	line-height: 1.4em;
}

pre, table.sourcecode{
	overflow: auto;
	margin-bottom: 1.5em;
	line-height: 1.3em;
	white-space:pre;
	border: 1px solid #e5e5e5; 
	padding: 12px; 
	background-color: #fff;
}

span.language {
    border: 1px solid #e5e5e5;
    border-top: none;
    border-right: none;
    float: right;
    text-align: right;
    margin: -12px;
    padding: 0 0.45em;
    background-color: #f9f9f9;
    color: #bbb;
    font-size: 12px;
}

table.sourceCode { border: 1px solid #e5e5e5; }
table.sourceCode td.lineNumbers { border-right: 1px solid #e5e5e5; text-align: right; color: #999; padding: 0 5px 0 7px; background-color: #f4f4f4; line-height: 1.2em; }
table.sourceCode td.lineNumbers pre { padding: 0; margin: 0; line-height: 1.3em; }
table.sourceCode td.sourceCode { margin: 0; padding: 0; background-color: #fff; }
table.sourceCode td.sourceCode pre { padding: 7px; margin: 0; line-height: 1.3em;}

code.sourceCode span.kw { font-weight: bold; }
code.sourceCode span.dt { color: #800000; }
code.sourceCode span.dv { color: #27b85f; }
code.sourceCode span.bn { color: #6a6aee; }
code.sourceCode span.fl { color: #800080; }
code.sourceCode span.ch { color: #FF00FF; }
code.sourceCode span.st { color: #DD0000; }
code.sourceCode span.co { color: #808080; font-style: italic; }
code.sourceCode span.ot { }
code.sourceCode span.al { color: green; font-weight: bold; }
code.sourceCode span.fu { color: #000080; }
code.sourceCode span.re { }
code.sourceCode span.er { color: red; font-weight: bold; }


blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
blockquote {padding: 5px 2em ;
	border-left: 9px solid #b51309;
	margin: 0 0 1em;
}

blockquote p{
	color: #444;
	font: italic 1.2em/1.4em 'Droid Serif', serif;
}

*::-moz-selection { background: none repeat scroll 0 0 #efacaa; }
::selection { background: none repeat scroll 0 0 #efacaa;
}

.information {
	background-color: #fff; 
	margin: 2em 10%;
	border: 1px solid #ddd; 


}
.information p { 
	font-size: 1em;
	padding: 1em; 
	margin: 0;
	color: #777;  
}
.information h3 { 
	background-color: #f4f4f4; 
	margin: 0; padding: .8em 1em; 
	border-bottom: 1px solid #ddd; 
}

.information pre {
 border: none;
 padding: 0 1em;
 margin: 0 1em 1em;
 background-color: none;
}

/*	NAV
========================================*/

nav ul{overflow: auto;}

nav ul li{
	display: block;
	float: right;
	width: 70px;
	height: 70px;
	padding: 8px;
	margin:  23px 0 0 9%;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top, #ededed 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ededed 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ededed 0%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ededed 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #ededed 0%,#ffffff 100%); /* W3C */
	-webkit-box-shadow: inset 0px 1px 0px #dfdfdf;
	-moz-box-shadow: inset 0px 1px 0px #dfdfdf;
	box-shadow: inset 0px 1px 0px #dfdfdf;
}

nav ul li a{
	display: block;
	width: 68px;
	height: 68px;
	padding: 1px;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
	-webkit-box-shadow: 0px 2px 3px #bbb;
	-moz-box-shadow: 0px 2px 3px #bbb;
	box-shadow: 0px 2px 3px #bbb;
}

nav ul li.selected a{
	-webkit-box-shadow: 0px 1px 1px #aaa;
	-moz-box-shadow: 0px 1px 1px #aaa;
	box-shadow: 0px 1px 1px #aaa;
}

nav ul li a span{
	display: block;
	width: 68px;
	height: 68px;
	overflow: hidden;
	line-height: 53px;
	text-align: center;
	background-color: #fffeff;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eee 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eee 100%); /* IE10+ */
	background: linear-gradient(top, #fafafa 0%,#eee 100%); /* W3C */
	text-indent:-9999px;
	
}

nav ul li:active a {
	-webkit-box-shadow: inset 0 1px 2px #aaa;
	-moz-box-shadow: inset 0 1px 2px #aaa;
	box-shadow: inset 0 1px 2px #aaa;
}

nav ul li:hover a span{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 1%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 1%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 1%,#f2f2f2 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 1%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 1%,#f2f2f2 100%); /* W3C */
	
}

li#go-home {
	width: 119px;
	height: 119px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	margin: 0;
	float: left;
}

li#go-home a{
	width: 117px;
	height: 117px;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
}

li#go-home a span{
	width: 117px;
	height: 117px;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	border-radius: 70px;
}


#company li#go-company a,
#work li#go-work a,
#notebook li#go-notebook a{
	-webkit-box-shadow: inset 0 1px 2px #aaa;
	-moz-box-shadow: inset 0 1px 2px #aaa;
	box-shadow: inset 0 1px 2px #aaa;

}

#company li#go-company a span,
#work li#go-work a span,
#notebook li#go-notebook a span{
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#eee 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#eee 100%); /* IE10+ */
	background: linear-gradient(top, #fafafa 0%,#eee 100%); /* W3C */
}

li#go-home a span span,
li#go-company a span span,
li#go-work a span span,
li#go-notebook a span span,
#home li#go-home a span span,
#company li#go-company a span span,
#work li#go-work a span span,
#notebook li#go-notebook a span span{background-image: url(../img/nav-sprite.png);}

li#go-home a span span{background-position: -2px 237px;}
li#go-home:active a span span{background-position: -2px 238px;}
#home li#go-home a span span{background-position: -2px 117px;}
#home li#go-home:active a span span{background-position: -2px 118px;}

li#go-work a span span{background-position: -266px -26px;}
li#go-work:active a span span{background-position: -266px -25px;}
#work li#go-work a span span{background-position: -266px -146px;}
#work li#go-work:active a span span{background-position: -266px -145px;}

li#go-notebook a span span{background-position: -386px -26px;}
li#go-notebook:active a span span{background-position: -386px -25px;}
#notebook li#go-notebook a span span{background-position: -386px -146px;}
#notebook li#go-notebook:active a span span{background-position: -386px -145px;}

li#go-company a span span{background-position: -506px -25px;}
li#go-company:active a span span{background-position: -506px -24px;}
#company li#go-company a span span{background-position: -506px -145px;}
#company li#go-company:active a span span{background-position: -506px -144px;}



/*	HEADER
========================================*/

header h1{
	margin: 3% 0 3%;
	line-height: 1.2em;
	-webkit-animation: FadeIn 1s;
	-moz-animation: FadeIn 1s;
	position: relative;
}

@-webkit-keyframes FadeIn {
  0% 				{ opacity: 0; left:-30px; }
  100%   { opacity: 1; }
}

@-moz-keyframes FadeIn {
		0% 				{ opacity: 0; left:-30px; }
		100%   { opacity: 1; left:	0; }
}

/*
header h1 b{
	font-weight:	normal;
	-webkit-animation: Flash 1.6s infinite;
	-moz-animation: Flash 1.6s infinite;
}

@-webkit-keyframes Flash {
  0% 				{ opacity: 0; }
  50% 			{ opacity: 0; }
  51% 			{ opacity: 1; }
  100%   { opacity: 1; }
}

@-moz-keyframes Flash {
		0% 				{ opacity: 0; }
		50% 			{ opacity: 0; }
		51% 			{ opacity: 1; }
		100%   { opacity: 1; }
}
*/

/*	PAGES
========================================*/


.project h2{
	font-size: 1.4em;
}
#blog-list h2{font-size: 3.2em; line-height: 1.1em;}
#team{margin-top: .8%;margin-bottom: 2%;}
#team li{position: relative; 
}

.personal-links{
	margin-bottom:	.35em;
	min-height:	1.5em;
}

.personal-links a.button{margin: 0; vertical-align:	top;
}

#team h3{font: bold 1.1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;}


/*	FOOTER
========================================*/

ul#social{
	padding-top: 70px;
	}

ul#social li a{
	display: block;
	margin: 0;
	width: 50px;
	height: 50px;
	margin:	0 auto;
	padding: 3px;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	border-radius: 33px;
	background: #141414; /* Old browsers */
	background: -moz-linear-gradient(top, #141414 0%, #2c2c2c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#141414), color-stop(100%,#2c2c2c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #141414 0%,#2c2c2c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #141414 0%,#2c2c2c 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #141414 0%,#2c2c2c 100%); /* IE10+ */
	background: linear-gradient(top, #141414 0%,#2c2c2c 100%); /* W3C */
	-webkit-box-shadow: inset 0 1px 0px #000, inset 0 -1px 0px #3a3a3a;
	-moz-box-shadow: inset 0 1px 0px #000, inset 0 -1px 0px #3a3a3a;
	box-shadow: inset 0 1px 0px #000, inset 0 -1px 0px #3a3a3a;
	text-indent: -9999px;

}

ul#social li a span{
	background: url(../img/footer-sprite.png);
	display: block;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	border-radius: 33px;
	opacity: .5;
	-webkit-transition-property: all;
	  -webkit-transition-duration: 0.07s, 0.1s;
	  -webkit-transition-timing-function: linear, ease-in;
}

ul#social li a:hover span{opacity: 1;}

ul#social li.twitter a span{background-position: -50px center;}
ul#social li.facebook a span{background-position: 0px center;}
ul#social li.dribbble a span{background-position: -100px center;}
ul#social li.github a span{background-position: -150px center;}
ul#social li.mail a span{background-position: -200px center;}
ul#social li.lang-nl a span{background-position: -250px center;}
ul#social li.lang-en a span{background-position: -300px center;}

ul#social li p{
	float:	right;
	display: block;
	margin: 0;
	height: 50px;
	line-height:	50px;
	margin:	0 auto;
	padding: 3px 0;
	text-shadow:	0	1px	0	#111;
	font-size:	.9em;
}


/*	TIPSY TOOLTIP
========================================*/

.tipsy { 
    padding: 5px;
    font-size: 11px; 
    opacity: 0.8; 
    filter: alpha(opacity=80); 
    background-repeat: no-repeat;  
    background-image: url(../img/tipsy.gif); 
}

.tipsy-inner { 
    padding: 10px; 
    background-color: black; 
    color: white; 
    max-width: 200px; 
    text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}

.tipsy-inner {	
    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
}

.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }


/*	TO TOP
========================================*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../img/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {outline:none;}

/*	RESPONSIVE STUFF
========================================*/

@media only screen and (max-width:750px) {

					body{
						font-size: 90%;
					}
					
					#container{
						padding-top: 71px;
					}
					
					header{
						margin-top: 0;
					}
				
					.col-1,
					.col-2{ width:12.5% }
					.col-3,
					.col-4,
					.col-5,
					.col-6,
					.col-7,
					.col-8,
					.col-9,
					.col-10,
					.col-11,
					.col-12{ width:95.833%; margin:0;}
					
					footer .col-8{
						width:29.167%
					}
					
					#notebook article .col-2{
						display:	none;
					}
						
					h1{
						font-size: 2.2em;
						letter-spacing: -2px;
					}
					
					#blog-list h2{
						font-size: 1.8em;
					}
					
					nav.row{
						padding: 0;
						margin: 0;
						width: 100%;
						position: fixed;
						top: 0;
						left: 0;
						height: 70px;
						z-index: 100;
						border-bottom: 1px solid #ddd;
						display: block;
						overflow: hidden;
						margin: 0;
						padding: 0;
					}
					
					nav.row .col-12{
						margin: 0;
						padding: 0;
						width: 100%;
					}
					
					nav ul{
						margin: 0;
						padding: 0;
						background: #fafafa; /* Old browsers */
						background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eee)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top, #fafafa 0%,#eee 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top, #fafafa 0%,#eee 100%); /* Opera11.10+ */
						background: -ms-linear-gradient(top, #fafafa 0%,#eee 100%); /* IE10+ */
						background: linear-gradient(top, #fafafa 0%,#eee 100%); /* W3C */
					}
					
					
					nav ul li,
					nav ul li#go-home,
					nav ul li a,
					nav ul li#go-home a,
					nav ul li a span,
					nav ul li#go-home a span{
						-webkit-border-radius: 0px;
						-moz-border-radius: 0px;
						border-radius: 0px;
						height: 70px;
						padding: 0;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
					}
					
					nav ul li,
					nav ul li#go-home{
						margin: 0;
						padding: 0;
						height: 70px;
						width: 25%;
						padding: 0;
					}
					
						nav ul li a span{
						width: 25%;
						}
					
					nav ul li a,
					nav ul li#go-home a,
					nav ul li a span,
					nav ul li#go-home a span{
						width: 100%;
						padding: 0;
						height: 70px;
					}
					
					nav ul li#go-home a,
					nav ul li#go-home a span{
						width: 100%;
						height: 70px;
						padding: 0;
						
					}
					
					nav ul li a span span,
					nav ul li#go-home a span span{
						width: 70px;
						margin: 0 auto;
						overflow: hidden;
					}
					
					li#go-home a span span{background-position: -144px -24px;}
					li#go-home:active a span span{background-position:  -144px -23px;}
					#home li#go-home a span span{background-position:  -144px -144px;}
					#home li#go-home:active a span span{background-position: -144px -143px;}
				
				footer.row{
					margin: 0;
				}
				
				footer .col-1{
					width: 20.833%;
				}
				
				footer .col-8{
					width:95.833%; 
					margin:0;
				}
				
				ul#social li p{
					float:	none;
					text-align:	center;
				}
				
				#company h2{
					font-size:	1.2em;
				}
				
				#work .col-3{
					margin-bottom:	3.5em;
				}
				
}

/*	RETINA BACKGROUND IMAGES
========================================*/

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
     li#go-home a span span,
     li#go-company a span span,
     li#go-work a span span,
     li#go-notebook a span span,
     #home li#go-home a span span,
     #company li#go-company a span span,
     #work li#go-work a span span,
     #notebook li#go-notebook a span span{
     	background-image: url(../img/nav-sprite@2x.png);
     	background-size: 600px 240px;
     }
     
     #wrapper{
     	background-image: url(../img/bg@2x.png);
     	background-size: 8px 8px;
     }
     
     ul#social li a span{
     	background: url(../img/footer-sprite@2x.png);
     	background-size: 350px 50px;
     }
     
     footer{
     	background-image: url(../img/bg-dark@2x.png) ;
     	background-size: 4px 4px;
     }
}



