<!DOCTYPE html>
{% load i18n %}
<html lang="es-mx" >
<head>
<title>Identificarse | Sistema Contable</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body class="login">

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name">DFSEP Guerrero - Sistema Contable</h1>
            <a href='/' style="padding: 13px;">Regresar</a>

        </div>


    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">

        <div id="content-main">

	{% if form.has_errors %}
    <p>{% trans "Your username and password didn't match. Please try again" %}</p>
	{% endif %}
	<form method='post' action='.'>

        <div class="form-row">
            <p><label for='id_username'>Nombre de usuario:</label>
            {{ form.username }}
        </div>
        <div class="form-row">
            <label for='id_password'>Contraseña:</label>
            {{ form.password }}
        </div>
		<input type='hidden' name='next' value='/' />
		{% csrf_token %}
        <div class="submit-row">
            <label>&nbsp;</label><input type="submit" value="Identificarse" />
        </div>
	</form>

            <script type="text/javascript">
document.getElementById('id_username').focus()
            </script>
        </div>

        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>

