{% extends "admin/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
{{ title }} | {% trans 'DFSEPGro Sistema Contable' %}
{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'DFSEP Guerrero - Sistema Contable' %}</h1>
    <div style="float: right; padding-right: 10px;">
        <img src="{% static "admin/logo.png" %}" height="70" />
    </div>
{% endblock %}

{% block nav-global %}{% endblock %}
